#root {
  max-width: 1280px;
  min-width: 830px; 
  margin: 0 auto; 
  text-align: center; 
}

@media screen and (max-width: 768px) {
  #root {
    min-width: 100%; /* Ancho mínimo del cuadrado */
    display: flex; /* Cambia a flexbox */
    flex-direction: column; /* Cambia a columna */
    align-items: center; /* Centra horizontalmente */
  }
}
