header {
  padding: 0.5rem; /* Espaciado interno */
  margin-bottom: 1rem;
  max-width: 100%; /* Ancho total */
  box-sizing: border-box; /* Incluye el borde en el ancho total */
  
  a {
    text-decoration: none; /* Elimina la subrayado */
    color: var(--primary-text); /* Color de texto */
  }
  
  h1 {
    margin: 0.5rem 0rem; 
    padding: 0; /* Elimina el relleno */
    font-size: calc(4vw + 1rem); 
    text-shadow: 0 0 15px var(--color-primary),
      0 0 30px var(--color-primary),
      0 0 60px #00ffff,
      0 0 90px #00ffff,
      0 0 100px #00ffff,
      0 0 150px #00ffff; /* Efecto neon */
    transition: filter 200ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
      text-shadow: 0 0 15px var(--color-tertiary), 
        0 0 30px var(--color-tertiary),
        0 0 60px #ffb2ff, 
        0 0 90px #ffb2ff, 
        0 0 100px #ffb2ff, 
        0 0 150px #ffb2ff; /* Efecto neon */
      filter: hue-rotate(45deg); /* Gira el color */
    }
  }
}
