@import 'normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #8affffff;
  --color-secondary: #8affbfff;
  --color-tertiary: #ffb2ffff;
  --dark-background: #353535ff;
  --light-background: #f5f5f5ff;
  --primary-text: #ffffffff;
  --secundary-text: #666666ff;
  --acent-color: #FBCC12ff;
}

body {
  padding: 1vw;
  min-width: 360px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--dark-background);
  color: var(--primary-text);
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

main {
  padding: 0.5vw;
  margin: 0 0.5vw;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
  max-width: 960px;
  width: 90%;
  box-sizing: border-box;

  article {
    width: 100%;
    margin: 0.5vw;
    padding: 0.5vw;
    box-sizing: border-box;
  }
}

code, pre {
  font-family: 'Azeret Mono', monospace;
  font-size: 1rem;
  color: var(--acent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
